body {
    font-family: Arial, sans-serif;
}

.hero-section {
    background-color: #154c79;
    color: #ffffff;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}

.features-section, .cta-section {
    padding: 50px 0;
}

.testimonials-section {
    padding: 50px 0;
}

.testimonial-card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #154c79 !important; /* Ensure the correct color */
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn {
    margin: 0 2px;
}

.btn-primary {
    background-color: #e07b39;
    border-color: #e07b39;
}

.btn-primary:hover {
    background-color: #d2691e;
    border-color: #d2691e;
}

.container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 600px;
}

html, body {
    height: 100%;
    margin: 0;
}

#content {
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
