<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Applications</title>
</head>
<body>
    <h1>Job Applications</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
        {% for application in applications %}
        <li>
            <a href="{% url 'application_details' application.id %}">{{ application.job_title }} at {{ application.company_name }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_application' %}">Add New Job Application</a>
</body>
</html>
