{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Your Job Applications</h1>
    <a href="{% url 'add_application' %}" class="btn btn-primary mb-3">Add New Application</a>
    <div class="list-group">
        {% for application in applications %}
            <a href="{% url 'application_details' application.id %}" class="list-group-item list-group-item-action">
                {{ application.job_title }} at {{ application.company_name }}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
